
<h1><%= @recipe.name %></h1>

<h3>Description</h3>
<%if @recipe.description == nil%>
  <%= "This recipe doesn't have a description."%>
<%else%>
  <p><%= @recipe.description %></p>
<%end%>
<h3>Instructions</h3>
<%if @recipe.instructions == nil%>
 <%= "This recipe doesn't have any instructions."%>
 <%else%>
  <p><%= @recipe.instructions %></p>
  <%end%>

<h2>Ingredients</h2>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>

<p><a href="/recipes">Back to Recipes</a></p>
